In [52]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data = Path("Resources/schools_complete.csv")
student_data = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data)
student_data_df = pd.read_csv(student_data)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [176]:
# Calculate the total number of unique schools
school_count_df = len(school_data_complete_df["School ID"].unique())
school_count_df

15

In [54]:
# Calculate the total number of students
student_count_df = school_data_complete_df['Student ID']
print('number of students:')
student_count_df.count()

number of students:

39170

In [55]:
# Calculate the total budget
total_budget_df = school_data_df['budget'].sum()
total_budget_df

24649428

In [56]:
# Calculate the average (mean) math score
average_math_score = school_data_complete_df['math_score'].mean()
average_math_score

78.98537145774827

In [57]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [58]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count_df = school_data_complete_df[(school_data_complete_df['math_score'] >= 70)].count()['student_name']
passing_math_percentage_df = (passing_math_count_df) / 39169 *100
passing_math_percentage_df

74.98276698409457

In [59]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count_df = school_data_complete_df[(school_data_complete_df['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage_df = (passing_reading_count_df) / 39169 *100
passing_reading_percentage_df

85.80765401210141

In [60]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count_df = school_data_complete_df[
    (school_data_complete_df['math_score'] >= 70) & (school_data_complete_df['reading_score'] >= 70)].count()['student_name']
overall_passing_rate = (passing_math_reading_count_df /  39169 *100)
overall_passing_rate

65.17398963466007

In [61]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    
    "Total Schools": [school_count_df],
    "Total Students": [student_count_df.count()],
    "Total Budget": [total_budget_df],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Reading":[passing_reading_count_df/ 39169],
    "% Passing Math": [passing_math_count_df / 39169],
    "Overall Passing Rate": [passing_math_reading_count_df / 39169 ]})

district_summary_df = district_summary[["Total Schools", "Total Students", "Total Budget", "Average Reading Score",
                             "Average Math Score", '% Passing Reading', '% Passing Math', 'Overall Passing Rate']]

#format cells
district_summary_df.style.format({"Total Budget": "${:,.2f}", "Average Reading Score": "{:.6f}",
                               "Average Math Score": "{:.6f}", "% Passing Math": "{:.4%}", "% Passing Reading": "{:.4%}",
                               "Overall Passing Rate": "{:0.4%}"})

In [62]:
school_name = school_data_complete_df.set_index('school_name').groupby(['school_name'])

In [118]:
#total student count
total_student_df = school_name['Student ID'].count()
total_student_df

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [169]:
# Use the code provided to select the school type
school_types = school_data_complete_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [170]:
# Calculate the total student count
per_school_counts = school_name['Student ID'].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [121]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [122]:
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [123]:
# Calculate the average test scores
per_school_math = school_name['math_score'].mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [124]:
per_school_reading = school_name['reading_score'].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [125]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete_df[school_data_complete_df
                                           ['math_score'] >= 70].groupby('school_name')['Student ID'].count()
school_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [179]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete_df[
    school_data_complete_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count()
school_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [180]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete_df[
    (school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]
passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [128]:
# Use the provided code to calculate the passing rates
per_school_passing_math =school_data_complete_df[school_data_complete_df['math_score'] >= 70
                                             ].groupby('school_name')['Student ID'].count()/total_student*100
per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [129]:
per_school_passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >= 70].groupby('school_name')[
    'student_name'].count()/total_student*100
per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [130]:
overall_passing_rate = school_data_complete_df[(school_data_complete_df['reading_score'] >= 70) & (
    school_data_complete_df['math_score'] >= 70)].groupby(['school_name']).count()['student_name']/total_student*100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [211]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
school_summary = pd.DataFrame, ({
    "school type": [school_types],
    "total students": [per_school_counts],
    "total school budget": [per_school_budget],
    "average math score": [per_school_math],
    "average reading score": [per_school_reading],
    '% passing math': [per_school_passing_math],
    '% passing reading': [per_school_passing_reading],
    "% overall passing": [overall_passing_rate]})


# Formatting


# Display the DataFrames
school_summary

(pandas.core.frame.DataFrame,
 {'school type': [school_name
   Huang High School     District
   Huang High School     District
   Huang High School     District
   Huang High School     District
   Huang High School     District
                           ...
   Thomas High School     Charter
   Thomas High School     Charter
   Thomas High School     Charter
   Thomas High School     Charter
   Thomas High School     Charter
   Name: type, Length: 39170, dtype: object],
  'total students': [school_name
   Bailey High School       4976
   Cabrera High School      1858
   Figueroa High School     2949
   Ford High School         2739
   Griffin High School      1468
   Hernandez High School    4635
   Holden High School        427
   Huang High School        2917
   Johnson High School      4761
   Pena High School          962
   Rodriguez High School    3999
   Shelton High School      1761
   Thomas High School       1635
   Wilson High School       2283
   Wright High School       1800
   Name: Student ID, dtype: int64],
  'total school budget': [school_name
   Bailey High School       3124928.0
   Cabrera High School      1081356.0
   Figueroa High School     1884411.0
   Ford High School         1763916.0
   Griffin High School       917500.0
   Hernandez High School    3022020.0
   Holden High School        248087.0
   Huang High School        1910635.0
   Johnson High School      3094650.0
   Pena High School          585858.0
   Rodriguez High School    2547363.0
   Shelton High School      1056600.0
   Thomas High School       1043130.0
   Wilson High School       1319574.0
   Wright High School       1049400.0
   Name: budget, dtype: float64],
  'average math score': [school_name
   Bailey High School       77.048432
   Cabrera High School      83.061895
   Figueroa High School     76.711767
   Ford High School         77.102592
   Griffin High School      83.351499
   Hernandez High School    77.289752
   Holden High School       83.803279
   Huang High School        76.629414
   Johnson High School      77.072464
   Pena High School         83.839917
   Rodriguez High School    76.842711
   Shelton High School      83.359455
   Thomas High School       83.418349
   Wilson High School       83.274201
   Wright High School       83.682222
   Name: math_score, dtype: float64],
  'average reading score': [school_name
   Bailey High School       81.033963
   Cabrera High School      83.975780
   Figueroa High School     81.158020
   Ford High School         80.746258
   Griffin High School      83.816757
   Hernandez High School    80.934412
   Holden High School       83.814988
   Huang High School        81.182722
   Johnson High School      80.966394
   Pena High School         84.044699
   Rodriguez High School    80.744686
   Shelton High School      83.725724
   Thomas High School       83.848930
   Wilson High School       83.989488
   Wright High School       83.955000
   Name: reading_score, dtype: float64],
  '% passing math': [school_name
   Bailey High School       66.680064
   Cabrera High School      94.133477
   Figueroa High School     65.988471
   Ford High School         68.309602
   Griffin High School      93.392371
   Hernandez High School    66.752967
   Holden High School       92.505855
   Huang High School        65.683922
   Johnson High School      66.057551
   Pena High School         94.594595
   Rodriguez High School    66.366592
   Shelton High School      93.867121
   Thomas High School       93.272171
   Wilson High School       93.867718
   Wright High School       93.333333
   Name: Student ID, dtype: float64],
  '% passing reading': [school_name
   Bailey High School       81.933280
   Cabrera High School      97.039828
   Figueroa High School     80.739234
   Ford High School         79.299014
   Griffin High School      97.138965
   Hernandez High School    80.862999
   Holden High School       96.252927
   Huang High School        81.316421
   Johnson High School      81.222432
   Pena High School         95.945946
   Rodriguez High School    80.220055
   Shelton High School      95.854628
   Thomas High School       97.308869
   Wilson High School       96.539641
   Wright High School       96.611111
   dtype: float64],
  '% overall passing': [school_name
   Bailey High School       54.642283
   Cabrera High School      91.334769
   Figueroa High School     53.204476
   Ford High School         54.289887
   Griffin High School      90.599455
   Hernandez High School    53.527508
   Holden High School       89.227166
   Huang High School        53.513884
   Johnson High School      53.539172
   Pena High School         90.540541
   Rodriguez High School    52.988247
   Shelton High School      89.892107
   Thomas High School       90.948012
   Wilson High School       90.582567
   Wright High School       90.333333
   dtype: float64]})

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = 
top_schools.head(5)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = 
bottom_schools.head(5)

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary